<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg" alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis mi ut metus ornare semper nec accumsan tellus. Donec justo libero, varius sit amet mauris at, mollis facilisis lorem.
      </a>
    </p>
  </div>
</div>
