<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<section class="container__articles">
  <article class="articles__main">
    <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fill:160:107/1*ycbFBGQ-t6iBBZn38vLpGw.jpeg"
      cardTitle="Tecnologias de front-end: 6 maneiras de comparar Angular e React"
      cardDescription="Este é um artigo patrocinado e o conteúdo divulgado é de responsabilidade de seus autores."
    ></app-big-card>
  </article>
  <article class="articles__others">
    <app-small-card
      photoSmall="https://miro.medium.com/v2/resize:fill:224:224/1*OMcRkAMaB68-91PI82e82w.png"
      cardTitle="Entenda a diferença entre arrow function e funções regulares em javascript"
      cardDescription="A prova de que no futuro não existirão viagens no tempo é que não estamos sendo visitados pelos viajantes do futuro. Stephen Hawking..."
    ></app-small-card>
    <app-small-card
      photoSmall="https://miro.medium.com/v2/da:true/resize:fill:224:224/0*5tvrzqGxs3T9TIAA"
      cardTitle="Relaxa, ChatGPT não roubar seu emprego de programador"
      cardDescription="Ao menos não tão cedo a ponto de se preocupar — Aproveitando o hype imenso que esse assunto tem levantado para trazer uma reflexão..."
    ></app-small-card>
    <app-small-card
      photoSmall="https://miro.medium.com/v2/resize:fill:160:107/1*WA_9JsyqFkge2HwYKcdJQw.png"
      cardTitle="Minha primeira experiência com o React (Native)"
      cardDescription="Me perdoa Angular?!"
    ></app-small-card>
  </article>
</section>
